# Global Environment Template
# Duplicate this file as .env and fill in your confidential values.
# DO NOT commit real secrets to source control.

ConnectionStrings__DefaultConnection="Host=localhost;Database=eduvault;Username=postgres;Password=YOUR_PASSWORD;SSL Mode=Require;"
Jwt__Secret="YOUR_SECURE_RANDOM_JWT_SECRET_KEY_32_BYTES_MINIMUM"
SUPERADMIN_EMAIL="superadmin@eduvault.com"
SUPERADMIN_PASSWORD="YOUR_SUPERADMIN_PASSWORD"
